.bg-container{
    background-color:black;
    background-size: cover;
    min-height: 100vh;

}

.card{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
   
}

.card-body{
    width: 500px;
    background-color: white;
    border-radius: 8px;
    margin-top: 100px;
    box-shadow: rgba(218, 206, 206, 0.35) 0px 5px 15px;
}
.box{
    background-color: red;
    padding: 1px;
    width: 30px;
}