.bg-container{
    background-image: url("https://media.istockphoto.com/vectors/modern-cinema-background-with-realistic-3d-cinema-film-strip-in-on-vector-id1204686345?k=20&m=1204686345&s=170667a&w=0&h=c_mBREAiUy8viYniUznGlwmAZ7hRmB-hCphmcq92dMk=");
    background-size: cover;
    min-height: 100vh;

}

.card{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
   
}

.card-body{
    width: 500px;
    background-color: white;
    border-radius: 8px;
    margin-top: 100px;
    box-shadow: rgba(218, 206, 206, 0.35) 0px 5px 15px;
}