<app-header></app-header>
<!-- <h2>Actor Details</h2>

<hr />
<div *ngIf="tech">
    <div>
        <label><b>Actor Id: </b></label> {{tech.techId}}
    </div>
    <div>
        <label><b>Actor Name: </b></label> {{tech.techName}}
    </div>
    <div>
        <label><b>Actor Date: </b></label> {{tech.techRole}}
    </div>
</div>

<br> -->
<!-- <div class="bg-container d-flex flex-row justify-content-center align-items-center">
    <mat-card class="example-card" >
        <mat-card-header class=" d-flex flex-row justify-content-center">
          <mat-card-title > {{tech.techName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://www.pngkit.com/png/detail/17-175707_reels-and-gtel-moviereelsandpopcorn-movie-reel-and-popcorn.png" >
        <mat-card-content >
            <p>
                To perform Edit Operations about Movies just go with the options below
              </p>
              <p style="color:rgb(226, 230, 45); font-weight: 500;">Technician Role: <span class="margin-left-3" style="color:black">{{tech.techRole}}</span> </p>
                        
        </mat-card-content>
      </mat-card>
    </div> -->
    <div class="bg-container">
        <div class="row">
            <div class="col-1"></div>
            <div *ngIf="tech" class="d-flex flex-column margin-left-5 mt-5 m-2 col-4">
                <div>
                    <div class="image">
                        <img class="image" src="{{tech.techImageUrl}}" >
                    </div>
                    <div class="m-3">
                        <div class="d-flex flex-row justify-content-between">
                            <p> <span style="color:rgb(216, 230, 32);font-weight: bold;">Technician Age:</span>  <span
                                    style="color:white">{{tech.techAge}}</span> </p>
                            <p> <span class="ml-2" style="color:rgb(216, 230, 32);font-weight: bold;">Technician Role : </span><span style="color:white">
                                    {{tech.techRole}}</span> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column col-6 mt-3" style="padding: 25px;">
    
                <h1 class="d-flex flex-row justify-content-center mt-2"
                    style="color:white;font-size: 50px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;">
                    {{tech.techName}}</h1>
                    <P style="color:white;width: 500px;" class="m-2">{{tech.techDescrip}}</P>
            </div>
        </div>
    </div>